<!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <!-- <section class="">
            <p class="d-flex justify-content-center align-items-center">

                <span *ngIf="login_acc_name" mdbRipple class="">
                    <span class="me-3">Welcome </span> <strong>{{login_acc_name | titlecase}}</strong>
                </span>
                <button *ngIf="!login_acc_name" mdbRipple type="button" class="btn btn-outline-light btn-rounded"
                    (click)="opensignuppage()">
                     Sign up!
                </button>
            </p>
        </section> -->
        <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:  rgb(33 37 41);">
        © 2022 Copyright : E-COMM Website, {{version}}
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->