/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif; 
}
*{
    padding: 0px;
    margin: 0px;
}
/* .container{
    margin-left: 5%;
    margin-right: 5%;
} */
a {
    text-decoration: none;
}